.each-slide-effect > 
  
div {
    display: flex;
    align-items: center;
    justify-content:top;
    background-size: cover;
    height: 450px;
    width: 150px;
  } 
  
  .each-slide-effect span {
    padding: 250px;
    font-size: 100px;
    background: #efefef;
    text-align: center;
  }