.side-panel{
    background-color: dodgerblue;
    font-weight:bold;
    font-size:large;
    min-height: 640px;
    color: white;
}
.myline{
    border-top:3px solid white
}
.myline2{
    border-top:3px dashed rgb(107, 107, 183)
}

.mynav{
    background-color:DodgerBlue
    
}
.nav-link{
    color: white;
}