*{
    margin: 0;
    padding: 0;
}
.wrapper {
    /* background: linear-gradient(135deg,#320c85,#cbe0fd); */

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.app-wrapper{
    background-color: #fff;
    min-width: 550px;
    min-height: 450px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.title{
    color: #3707f8;
    text-align: center;
    margin: 5px 0px 30px 0px;
}
.name
.email
.password{
    margin: 20px;
    color: #969292;
    font-size: 16px;
}

.input {
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black;
    margin-bottom: 10px;
}
.error{
    color: red;
}
.submit{
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    padding: 10px 100px;
    background: linear-gradient(to right, #1d2fcf, #6b07f8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 20px 20px 20px 100px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}
button:active{
    transform: translateY(2px);
}
.form-success{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 370px;
    color: #f80759;
}