/* 
  .mystyle{
    background-color: white;
    background-image: url('https://www.flaticon.com/free-icon/magnifying-glass_49116?related_id=49116');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 10px;
    width: 80%;
    border-color: blue;
    /* border: 3px solid blue; */
    /* border-radius: 1ch; 
    
  }*/
    
